@model MVC_Project1294727.Models.Cours

<div class="row mb-2">
    <div class="col-10">
        @Html.DropDownListFor(x => x.CourseID, ViewBag.Cours as SelectList, "-----Select-----", htmlAttributes: new { @class = "form-select form-select-sm mb-2" })
    </div>
    <div class="col-2">
        <a href="#" id="btnDelete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
    </div>
</div>
